:root {
    --fd-body-text-color: #000;
    --fd-body-text-color--rgb: 0, 0, 0;
    --fd-body-text-color--hover: #333333;
    --fd-sticky-nav-background-color: #18c638;
    --fd-sticky-nav-background-color--rgb: 24, 198, 56;
    --fd-sticky-nav-text-color: #000;
    --fd-sticky-nav-text-color--hover: #333333;
    --fd-page-background-color: #ecf5f9;
    --fd-page-background-color--rgb: 236, 245, 249;
    --fd-page-background-color--secondary: #e0e9ed;
    --fd-page-background-color--secondary--rgb: 224, 233, 237;
    --fd-page-text-color: #3a3a3a;
    --fd-page-text-color--rgb: 58, 58, 58;
    --fd-page-text-color--hover: #6d6d6d;
    --fd-page-text-mix-color: #93989a;
    --fd-page-text-mix-color-95: #e3ecef;
    --fd-page-accent-mix-color: #abb384;
    --fd-page-headings-font: 'Rubik';
    --fd-link-color: #0f7d23;
    --fd-link-color--rgb: 15, 125, 35;
    --fd-link-color--hover: #042109;
    --fd-link-label-color: #fff;
    --fd-accent-color: #4a9111;
    --fd-accent-color--rgb: 74, 145, 17;
    --fd-accent-color--hover: #87cb19;
    --fd-accent-label-color: #fff;
    --fd-border-color: #c0c6c9;
    --fd-border-color-rgb: rgba(var(--fd-link-color--rgb), .3);
    --fd-border-color--rgb: 192, 198, 201;
    --fd-alert-color: #bf0017;
    --fd-alert-color--rgb: 191, 0, 23;
    --fd-alert-color--hover: #59000a;
    --fd-alert-color--secondary: #bf0017;
    --fd-alert-label: #fff;
    --fd-warning-color: #cf721c;
    --fd-warning-color--rgb: 207, 114, 28;
    --fd-warning-color--secondary: #c16a1a;
    --fd-warning-label: #000;
    --fd-success-color: #0c742f;
    --fd-success-color--rgb: 12, 116, 47;
    --fd-success-color--secondary: #0c742f;
}